.middle{
    margin: 0;
    padding-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px; 
}

.counter{
    font-size: 50px;
}

.counter-button{
    width: 500px;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-radius: 8px;
    margin-top: 15px;
}

.counter-button button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 1.5em;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
}

.decrease{
    background-color: red;
    color: white;
}

.increase{
    background-color: greenyellow;
    color: black;
}