.info{
    margin: 0;
    padding-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.info-container{
    height: 100%;
    width: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    gap: 10px;
}

.input{
    border-radius: 10px;
    width: 100%;
    height: 25px;
    margin-bottom: 20px;
}

.info-container button{
    border-radius: 35px;
    height: 45px;
    border: none;
    background-color: #4CAF50;
}

.info-container button:hover{
    background-color: green;
    color: white;
}