.homework{
    margin: 0;
    padding-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.homework :hover{
    background-color: blanchedalmond;
    cursor: pointer;
    border-radius: 30px;
}

.homework button{
    border: 2px solid black;
    width: 300px;
    height: 50px;
    text-align: center;
    border-radius: 30px;
}

.homework button a{
    text-decoration: none;
    color: black;
}