.Todo{
    margin: 0;
    padding-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.input{
    width: 400px;
    display: flex;
    gap: 10px;
    height: 30px;
    border-radius: 8px;
}

.input button{
    color: white;
    border: none;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    width: 70px;
    border-radius: 8px;
    height: 36px;
}

.status{
    width: 500px;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background: #f1f3f4;
    border-radius: 8px;
    margin-top: 15px;
}

.check{
        margin-right: 40px;
    padding: 15px;
    background: #d4edda;
    width: 400px;
    display: flex;
    gap: 10px;
    height: 20px;
    border-radius: 8px;
    justify-content: space-between;
}

.delete{
    background-color: red;
    border: none;
    color: white;
    border-radius: 8px;
}